
@model SoftwareEngineering.Models.LoginModel

@section Header {
    <h1>@ViewBag.Title = "Not a User"</h1>
}

<p> The User was not found please, Have Manager create an account for you and try again </p>
<p>User Name: @Model.UserName</p>
<p>Password: @Model.Password</p>
 

 

