
@model SoftwareEngineering.Models.LoginModel

@{
    ViewBag.Title = "No User";
}

@section Header {
    <h1>@ViewBag.Title</h1>
    <a href="@Url.Action("ManagerHome", "Manager")"  data-icon="home" data-transition="flow">Home</a>
}

<p> The User was not found please, Have Manager create an account for you and try again </p>
<p>User Name: @Model.UserName</p>
<p>Password: @Model.Password</p>
 

 

