
@{
    ViewBag.Title = "Log in";
}

@section Header {
    <h1>@ViewBag.Title</h1>
}


@using (Html.BeginForm("LoginAccount", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Login</li>

        <li data-role="fieldcontain">
            <label for="UserName">UserName:</label>
            <input id="UserName" name="UserName"/>           
        </li>

        <li data-role="fieldcontain">
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password"/>           
        </li>

        <li data-role="fieldcontain">
            <input type="submit" id="submitLogin" value="Log in"/>
        </li>
    </ul>
} 

   <ul data-role="listview" data-inset="true"> 
    <li>
    @Html.ActionLink("Manager", "CreateAccount", "Manager")
    </li>
    </ul>
    
    




<script type="text/javascript">
    $(document).ready(function () {
        $.mobile.orientationChangeEnabled = true
        /*$('#submitLogin').click(function () {
            
            var User = $('#UserName').val();
            var password = $('#Password').val();
            var passingData = '{UserName:"' + User + '", Password: "' + password + '"}';
            alert(passingData);
            $.ajax({
                type: "POST",
                dataType: 'html',
                contentType: 'application/json',
                url: '@Url.Action("LoginAccount","Account")',
                data: passingData,
                cache: false,
                success: function (response) {
                    alert("worked " + response);
                    $("#main").html(response);
                },
                error: function (request, status, error) {
                    alert("failed " + request.responseText);
                    alert(error);
                }
            });
        });*/
    });


</script>