@Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")

@model SoftwareEngineering.Models.LoginModel

@section Header {
    <h1>@ViewBag.Title = "Checking User"</h1>
}

<p> Styling and design goes here </p>
<p>User Name: @Model.UserName</p>
<p>Password: @Model.Password</p>
 

 

