<link href="../../Content/StyleSheet1.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Manager";
}

@section Header {
    <h1>@ViewBag.Title</h1>

}

@using (Html.BeginForm())
{
       
        <p class="manager">Welcome Manager, here you can create new acoounts</p>

       <div data-role="controlgroup" data-type="horizontal"  class="ManagerMenu">
       
            <a href="@Url.Action("CreateAccount", "Manager")" id="CreateAcct" data-transition="flow">
                <img src="../../Content/images/add_user.png" />
            </a>

         <br />
        
        <a href="@Url.Action("UpdateAccounts", "Manager")" data-transition="flow">
            <img src="../../Content/images/edit_user.png" />
        </a>
        <br />
        
        <a href="@Url.Action("reports", "Manager")" id="ReportsPage" data-transition="flow">
            <img src="../../Content/images/reports_icon.png" />
        </a>

         <br />
        
     </div> 
    
   
    
    <div id="ManagerContent">
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $.mobile.orientationChangeEnabled = true
  

    });


</script>
