@{
    ViewBag.Title = "Update Accounts";
}

@section Header {
    <h1>@ViewBag.Title</h1>
    <a href="@Url.Action("ManagerHome", "Manager")"  data-icon="home" data-transition="flow">Home</a>
}


@using (Html.BeginForm())
{
 
    <div data-role="collapsible">
        <h3>Search and Select a User</h3>
        <ul id='Userlist' data-role='listview' data-filter='true' data-inset='true'>
            <li id='a1'>
                <input type="radio" id="ChosenUser" data-mini="true"/>
         	    <label for="ChosenUser">User</label>
           </li>
    </ul>
    </div>
    
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">User Information</li>

        <li data-role="fieldcontain">
            <label for="FirstName">First Name:</label>
            <input id="FirstName" name="FirstName" maxlength="15" />           
        </li>

        <li data-role="fieldcontain">
            <label for="LastName">Last Name:</label>
            <input  id="LastName" />           
        </li>

        <li data-role="fieldcontain">
            <label for="UserName">User Name:</label>
            <input id="UserName" name="UserName"/>           
        </li>

        <li data-role="fieldcontain">
            <label for="Password">Password:</label>
            <input id="Password" name="Password"/>           
        </li>

        <li data-role="fieldcontain">
            <label for="Email">E-Mail:</label>
            <input id="Email" name="Email" maxlength="15" />           
        </li>

        <li data-role="fieldcontain">
            <label for="SecuirtyQuest">Security Question:</label>
            <input id="SecuirtyQuest" name="SecuirtyQuest"/>           
        </li>

        <li data-role="fieldcontain">
            <label for="SecuirtyAns">Security Question Answer:</label>
            <input id="SecuirtyAns" name="SecuirtyAns"/> 
        </li>

        <li data-role="fieldcontain">
            <input type="button" id="submitUpdate" value="Save"/>
        </li>
    </ul>
        
}

<script type="text/javascript">
/*$(document).ready(function () {

    var menuStatus;
 
    $("a.showMenu").click(function(){
        if(menuStatus != true){
        $(".ui-page-active").animate({
            marginLeft: "165px",
          }, 300, function(){menuStatus = true});
          return false;
          } else {
            $(".ui-page-active").animate({
            marginLeft: "0px",
          }, 300, function(){menuStatus = false});
            return false;
          }
    });
 /*
    $('.pages').live("swipeleft", function(){
        if (menuStatus){
        $(".ui-page-active").animate({
            marginLeft: "0px",
          }, 300, function(){menuStatus = false});
          }
    });
 
    $('.pages').live("swiperight", function(){
        if (!menuStatus){
        $(".ui-page-active").animate({
            marginLeft: "165px",
}, 300, function(){menuStatus = true});
          }
    });
 
    $("#menu li a").click(function(){
        var p = $(this).parent();
        if($(p).hasClass('active')){
            $("#menu li").removeClass('active');
        } else {
            $("#menu li").removeClass('active');
            $(p).addClass('active');
        }
    });
   
}); */

</script>
